html {
  min-height: 100%;
}

body {
  min-height: 100vh;
}

.jumbotron{
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    height: 100%; /* For at least Firefox */
    min-height: 100%;

    background-image: url(../img/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.center-container{
    text-align: center;
}


